<div class="row artists-container">
	<div class="col-xs-12 col-sm-6 col-md-3" ng-repeat-start="artist in list | limitTo: max">
		<div class="card-container artist-area" style="background-image:url({{'http://localhost/artistasluso/API/api/modules/v1/images/'+artist.image.url}});">
			<div class="area-wrapper">
				<div class="bottom-content">
					<section class="card-desc">
						<h2>
							{{artist.name}}
						</h2>

						<div class="card-details">
							<span class="area">{{artist.ocupation}}</span>
							<span class="country">{{artist.curCountry.name}}</span>
						</div>
						
					</section>
					<section class="card-options">
						<a href="artists/details/{{artist.id}}" class="btn cta text-white">Saber mais</a>
					</section>
				</div>
			</div>
		</div>
		
	</div>
	<span class="clearfix visible-md-block" ng-if="($index+1)%4==0"></span>
	<span class="clearfix visible-sm-block" ng-if="($index+1)%2==0"></span>
	<span class="clearfix visible-xs-block" ng-repeat-end></span>
</div>