<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-3" ng-repeat-start="event in list">

		<div class="card-container">
			<section class="card-thumb-img">
				<a href="#/event/{{event.id}}">
					<img ng-src="{{event.image.url}}" alt="" class="img-responsive">
				</a>
			</section>
			<section class="card-desc">
				<h1>
					<a href="#/event/{{event.id}}">
						{{event.title}}			
					</a>
				</h1>

				<div class="card-date">
					{{ event.date | date:"d 'de' MMMM 'de' yyyy, HH'h':mm" }}
				</div>

				<div class="card-details">
					<span class="city">Casa da Montanha</span>
					<span class="country"> Portugal</span>
				</div>

				<p>					
					{{ event.description | limitTo:100}}{{event.description.length > 100 ? ' ...' : ''}}
				</p>
			</section>
			<section class="card-options">
				<a href="#/event" class="btn cta">Saber mais</a>
			</section>
		</div>

	</div>
	<div class="clearfix visible-sm-block" ng-repeat-end ng-if="$index+1%2==0"></div>
	<div class="clearfix visible-md-block" ng-repeat-end ng-if="$index+1%4==0"></div>
</div>