<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-3" ng-repeat-start="event in list | limitTo: max ">

		<div class="card-container">
			<section class="card-thumb-img">
				<a href="events/{{event.id}}">
					<img ng-src="{{'http://www.artistaslusos.net/API/api/modules/v1/images/'+event.image.url}}" alt="" class="img-responsive">
				</a>
			</section>
			<section class="card-desc">
				<h1>
					<a href="events/{{event.id}}">
						{{event.title}}			
					</a>
				</h1>

				<div class="card-date">
					{{ event.dateStart | date:"d 'de' MMMM 'de' yyyy" }}, {{ event.timeStart | timeFilter:"HH:mm"}}
				</div>

				<div class="card-details">
					<span class="city">{{event.city.name}}</span>
					<span class="country">{{event.country.name}}</span>
				</div>

				<p>					
					{{ event.description | limitTo:100}}{{event.description.length > 100 ? ' ...' : ''}}
				</p>
			</section>
			<section class="card-options">
				<a href="events/{{event.id}}" class="btn cta text-red">Saber mais</a>
			</section>
			<section class="item-options" ng-if="editable">
				<a href="edit-event/{{event.id}}">Editar</a>
				<a href="" ng-click="deleteEvent(event)" ng-confirm-click="Tem a certeza que deseja eliminar este evento?">Apagar</a>				
			</section>
		</div>

	</div>
	<div class="clearfix visible-sm-block" ng-repeat-end ng-if="$index+1%2==0"></div>
	<div class="clearfix visible-md-block" ng-repeat-end ng-if="$index+1%4==0"></div>
</div>