<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-3" ng-repeat-start="a in [1,2,3,4,5,6,7]">

		<div class="card-container">
			<section class="card-thumb-img">
				<a href="#/event">
					<img src="assets/img/thumbs/thumb.jpg" alt="" class="img-responsive">
				</a>
			</section>
			<section class="card-desc">
				<h1>
					<a href="#/event">
						Abertura oficial do festival de janeiro					
					</a>
				</h1>

				<div class="card-date">
					10 de Junho de 2015, 16h00
				</div>

				<div class="card-details">
					<span class="city">Casa da Montanha</span>
					<span class="country"> Portugal</span>
				</div>

				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sapien nulla, sagittis in commodo et, sodales condimentum purus.
				</p>
			</section>
			<section class="card-options">
				<a href="#/event" class="btn cta">Saber mais</a>
			</section>
		</div>

	</div>
	<div class="clearfix visible-sm-block" ng-repeat-end ng-if="$index+1%2==0"></div>
	<div class="clearfix visible-md-block" ng-repeat-end ng-if="$index+1%4==0"></div>
</div>