<div ng-controller="recoverPasswordModalCtrl">
    <script type="text/ng-template" id="recoverForm.tpl.html">
        <div class="modal-body">
            <h1>
                Recuperar password
            </h1>

            <p>
                Escreva o seu e-mail no campo seguinte, enviar-lhe-emos um nova palavra-passe de imediato.
            </p>

            <!--Review form-->
            <form name="recoverForm" class="recover-form">            
                <div class="form-group">                    
                    <input type="email" class="form-control" name="email" id="email" rows="10" ng-model="Recover.email" placeholder="mail@mail.com" required ng-model="Recover.email" 
                ng-class="{'error-box': hasError(recoverForm.email,'required'),
                'alert-box': hasError(recoverForm.email,'email')}"/>
                    <label for="email">E-mail</label>
                    <!--ERROR MESSAGE-->
                    <div ng-show="hasError(recoverForm.email)" class="errorBox">
                        <span class="error" ng-show="hasError(recoverForm.email,'required')"><i class="fa fa-times-circle"></i> Campo obrigatório</span>
                        <span class="alerts" ng-show="hasError(recoverForm.email,'email')"><i class="fa fa-exclamation-circle"></i> Formato de e-mail é inválido</span>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <!--OK BUTTON-->
            <button type="button" class="btn submit-form" ng-click="ok()">Recuperar</button>

            <!--CANCEL BUTTON-->
            <button type="button" class="btn submit-form empty-bg" ng-click="cancel()">Cancelar</button>

        </div>
    </script>

    <!--MODAL OPEN BUTTON-->
    <span class="link" ng-click="open()">Esqueceu-se da palavra-passe?</span class="link">
</div>