<div class="login-form" ng-controller="userResetPassword">
	<h1>
		Recuperar Password
	</h1>
	
	<form name="userResetForm" novalidate>
		<section class="login-section">
			<h4>
				Introduza a nova password
			</h4>
			<!--PASSWORD-->
			<div class="form-group">
				<input type="password" name="password" id="password" required class="form-control" ng-model="User.password" />
				<label for="password">Nova Palavra-passe</label>
				<!--ERROR MESSAGE-->
                <div ng-show="hasError(userResetForm.password)" class="errorBox">
                    <span class="error" ng-show="hasError(userResetForm.password,'required')"><i class="fa fa-times-circle"></i> Campo obrigatório</span>
                </div>
			</div>
		</section>	
	</form>
	<section class="form-actions">
		<button type="button" name="alterar" class="btn submit-form" ng-click="resetPassword()">Alterar</button>
	</section>
	
</div>