<div class="signup-form" ng-controller="userSignupCtrl">
	<h1>
		Registar
	</h1>
	
	<form name="newUserForm" novalidate>
		<section>
			<h4>
				Informações básicas
			</h4>

			<!--USERNAME-->
			<div class="form-group">
				<input type="text" name="name" id="name" placeholder="João Pedro" required class="form-control" ng-model="User.name"/>
				<label for="name">Nome artístico, do grupo ou organização</label>
				<!--ERROR MESSAGE-->
                <div ng-show="hasError(newUserForm.name)" class="errorBox">
                    <span class="error" ng-show="hasError(newUserForm.name,'required')"><i class="fa fa-times-circle"></i> Campo obrigatório</span>
                </div>

			</div>

			<!--EMAIL-->
			<div class="form-group">
				<input type="email" name="email" id="email" required placeholder="mail@mail.com" class="form-control"/>
				<label for="email">E-mail</label>
				<!--ERROR MESSAGE-->
                <div ng-show="hasError(newUserForm.email)" class="errorBox">
                    <span class="error" ng-show="hasError(newUserForm.email,'required')"><i class="fa fa-times-circle"></i> Campo obrigatório</span>
                    <span class="alerts" ng-show="hasError(newUserForm.email,'email')"><i class="fa fa-exclamation-circle"></i> Formato de e-mail é inválido</span>
                </div>
			</div>

			<!--PASSWORD-->
			<div class="form-group">
				<input type="password" name="password" id="password" required class="form-control" ng-model="User.password" />
				<label for="password">Palavra-passe</label>
				<!--ERROR MESSAGE-->
                <div ng-show="hasError(newUserForm.password)" class="errorBox">
                    <span class="error" ng-show="hasError(newUserForm.password,'required')"><i class="fa fa-times-circle"></i> Campo obrigatório</span>
                </div>
			</div>

			<!--CONF PASSWORD-->
			<div class="form-group">
				<input type="password" name="confPassword" id="confPassword" required class="form-control" ng-model="User.confPassword" />
				<label for="confPassword">Repetir palavra-passe</label>
				<!--ERROR MESSAGE-->
                <div ng-show="hasError(newUserForm.confPassword) || (User.confPassword!=User.password && submitted)" class="errorBox">
                    <span class="error" ng-show="hasError(newUserForm.confPassword,'required')"><i class="fa fa-times-circle"></i> Campo obrigatório</span>
                    <span class="error" ng-show="User.confPassword!=User.password"><i class="fa fa-times-circle"></i> Palavras-passe não são iguais</span>
                </div>
			</div>

			<!--COUNTRY-->
			<div class="form-group">
				<select class="selectpicker" name="country" id="country" ng-model="User.country" data-live-search="true" data-size="auto" class="form-control" required>
				    <option value="">Países</option>
				    <option value="1">Mustard</option>
				    <option value="2">Ketchup</option>
				    <option value="3">Relish</option>
			  	</select>
				<label for="country">Selecione o local de nascimento ou descendência portuguesa</label>
				<!--ERROR MESSAGE-->
                <div ng-show="hasError(newUserForm.country) || User.country<1 || User.country==''" class="errorBox">
                    <span class="error" ng-show="hasError(newUserForm.country)"><i class="fa fa-times-circle"></i> Campo obrigatório</span>
                </div>
			</div>

			<!--DISTRICT-->
			<div class="form-group">
				<select class="selectpicker" name="district" id="district" ng-model="User.district" data-live-search="true" data-size="auto" class="form-control"  required>
				    <option value="">Distritos</option>
				    <option value="1">Mustard</option>
				    <option value="2">Ketchup</option>
				    <option value="3">Relish</option>
			  	</select>
				<label for="district">Selecione o distrito</label>
				<!--ERROR MESSAGE-->
                <div ng-show="hasError(newUserForm.district) || User.district<1 || User.district==''" class="errorBox">
                    <span class="error" ng-show="hasError(newUserForm.district)"><i class="fa fa-times-circle"></i> Campo obrigatório</span>
                </div>
			</div>

			<!--ARTS-->
			<div class="form-group">
				<select class="selectpicker" name="art" id="art" ng-model="User.art" data-live-search="true" data-size="auto" class="form-control" required>
				    <option value="">Áreas artísticas</option>
				    <option value="1">Mustard</option>
				    <option value="2">Ketchup</option>
				    <option value="3">Relish</option>
			  	</select>
				<label for="art">Selecione a sua área artística</label>
				<!--ERROR MESSAGE-->
                <div ng-show="hasError(newUserForm.art) || User.art<1 || User.art==''" class="errorBox">
                    <span class="error" ng-show="hasError(newUserForm.art)"><i class="fa fa-times-circle"></i> Campo obrigatório</span>
                </div>
			</div>

			<!--OCUPATION-->
			<div class="form-group">
				<input type="text" name="ocupation" id="ocupation" placeholder="Designer" required class="form-control" ng-model="User.ocupation" />
				<label for="ocupation">Especifique a sua ocupação artística</label>
				<!--ERROR MESSAGE-->
                <div ng-show="hasError(newUserForm.ocupation)" class="errorBox">
                    <span class="error" ng-show="hasError(newUserForm.ocupation,'required')"><i class="fa fa-times-circle"></i> Campo obrigatório</span>
                </div>
			</div>

			<!--IMAGE-->
			<div class="form-group">
				<label class="required">Carregue uma imagem alusiva</label>			
                <div class="file-upload">
                	<div class="file-name-container" >{{(image.name) ? image.name : 'Nenhum arquivo selecionado'}}</div>
					<label for="file-upload" class="file-label">Escolher arquivo</label>
					<input type="file" upload-preview max-width="900" max-height="900" image="image" id="file-upload" name="fileInput" class="fileInput"/>
				</div>
				<div class="requiredNote">
                    A imagem não deve ter mais de 900px de largura e/ou 900px de altura e só pode ser carregada em formato .jpg, .jpeg, .png ou .gif.
                </div>
                <!--ERROR MESSAGE-->
                <div ng-show="((!image.src && submitted) || image.fileError)" class="errorBox">
                    <div ng-show="!image.src && submitted">
                        <span class="error"><i class="fa fa-times-circle"></i> Campo obrigatório</span>
                    </div>
                    <div ng-show="image.fileError">
                        <span class="alerts"><i class="fa fa-exclamation-circle"></i> Tipo de ficheiro não é permitido</span>
                    </div>
                </div>


				<!--IMAGE PREVIEW-->
                <div class="image-preview" ng-show="image.src">
                    <div class="imageContainer" id="image" objimg="User.image" image-actions>
                        <div class="img-helper-section">
                            <span class="deleteOption bold" ng-click="deleteImage()"><i class="fa fa-close"></i>{{image.name}}</span>
                        </div>

                        <img ng-src="{{image.src}}" alt="Preview" />
                    </div>
                </div>
			</div>
		</section>

		<section>
			<h4>
				Bibliografias
			</h4>

			<!--BIO PT-->
			<div class="form-group">
				<textarea name="biopt" id="biopt" rows="10" placeholder="Escreva aqui a sua biografia em português..." maxlength="500" required class="form-control" ng-model="User.bios.biopt" ng-trim="false"></textarea>
				<label for="biopt">Descreva uma biografia sucinta em português</label>
				<div class="requiredNote">{{User.bios.biopt.length || 0}}/500</div>
				<!--ERROR MESSAGE-->
                <div ng-show="hasError(newUserForm.biopt)" class="errorBox">
                    <span class="error" ng-show="hasError(newUserForm.biopt,'required')"><i class="fa fa-times-circle"></i> Campo obrigatório</span>
                </div>
			</div>

			<!--BIO EN-->
			<div class="form-group">
				<textarea  name="bioen" id="bioen" rows="10" placeholder="Hello! I'm John" maxlength="500" required class="form-control" ng-model="User.bios.bioen" ng-trim="false"></textarea>
				<label for="bioen">Descreva uma biografia sucinta em inglês</label>
				<div class="requiredNote">{{User.bios.bioen.length || 0}}/500</div>
				<!--ERROR MESSAGE-->
                <div ng-show="hasError(newUserForm.bioen)" class="errorBox">
                    <span class="error" ng-show="hasError(newUserForm.bioen,'required')"><i class="fa fa-times-circle"></i> Campo obrigatório</span>
                </div>
			</div>

			<!--BIO OTHER-->
			<div class="form-group">
				<textarea  type="text" name="bioother" id="bioother" rows="10" maxlength="500" placeholder="Escreva aqui a sua biografia noutro idioma..." required class="form-control" ng-model="User.bios.bioother" ng-trim="false"></textarea>
				<label for="bioother">Descreva uma biografia sucinta noutro idioma</label>
				<div class="requiredNote">{{User.bios.bioother.length || 0}}/500</div>
				<!--ERROR MESSAGE-->
                <div ng-show="hasError(newUserForm.bioother)" class="errorBox">
                    <span class="error" ng-show="hasError(newUserForm.bioother,'required')"><i class="fa fa-times-circle"></i> Campo obrigatório</span>
                </div>
			</div>
		</section>

		<!--NETWORKS-->
		<section class="virtualplaces-container">
			<h4>
				Sítios Virtuais
			</h4>

			<!--BIO OTHER-->
			<div class="form-group">
				<label for="virtualplaces" class="virtualplaces-label">Preencha apenas os campos onde está inscrito</label>

				<div class="virtualplaces" id="virtualplaces">
					<input type="text" name="website" id="website" placeholder="www.website.com" class="form-control" ng-model="User.networks.website"/>

					<div class="virt-place"><input type="text" name="facebook" id="facebook" placeholder="www.facebook.com" class="form-control" ng-model="User.networks.facebook"/><i class="fa fa-facebook-square"></i></div>

					<div class="virt-place"><input type="text" name="twitter" id="twitter" placeholder="www.twitter.com" class="form-control" ng-model="User.networks.twitter"/><i class="fa fa-twitter-square"></i></div>

					<div class="virt-place"><input type="text" name="vimeo" id="vimeo" placeholder="www.vimeo.com" class="form-control" ng-model="User.networks.vimeo"/><i class="fa fa-vimeo-square"></i></div>

					<div class="virt-place"><input type="text" name="youtube" id="youtube" placeholder="www.youtube.com" class="form-control" ng-model="User.networks.youtube"/><i class="fa fa-youtube-square"></i></div>
				</div>
				
			</div>
		</section>

		
	</form>
	<section class="form-actions">
		<button type="button" name="signup" class="btn submit-form" ng-click="createUser()">Registar-me</button>
	</section>
	
</div>