.errorBox{
	
	@include font-size(14px);
	margin-top:10px;
	.error{
		color:$dark-red;
	}

	.alerts{
		color:$dark-yellow;
	}

	i{
		padding-right:10px;
	}

	span{
		display:block;
		margin-bottom:5px;
	}

	&.card{
		background-color:$dark-red;
		color:white;
		padding:10px 15px;
		@include box-shadow(0 0 10px rgba(0,0,0,0.5));
		@include border-radius(3px);

		span{
			margin-bottom:0;
		}
	}
}

.error-box{
	border:1px solid $dark-red!important;
}

.alert-box{
	border:1px solid $dark-yellow!important;
}