.banner{
	height:$banner-height;

	background-color:$black;

	padding:32px;

	position:relative;

	section{
		position:absolute;
		top:50%;
		left:32px;
		@include translateY(-50%);
	}

	.banner-title-one,
	.banner-title-two{
		text-transform: uppercase;
		color:white;
	}

	.banner-title-one{
		@include font-size(25px);
	}

	.banner-title-two{
		@include font-size(22px);
	}

	&.single{
		line-height:80px;
	}
}