.cta{
	display:block;
	padding:10px 15px;

	text-transform:uppercase;
	font-weight:700;
	@include font-size(16px);

	color:$light-red;
	@include border-radius(0);

	@include transition(all 0.2s ease);

	&:hover{
		background-color:$ultralight-gray;
		text-decoration:none;
	}
}

.btn{
	&:focus, &:active:focus, &.active:focus,&:active{
		outline:none!important;
		@include box-shadow(none);
	}

	&.submit-form,&.add-new{
		background-color:$black;
		color:white;
		@include border-radius(0);

		@include transition(all 0.2s ease);

		text-transform: uppercase;

		padding:10px 20px;


		&:hover:not(.empty-bg),&:active:not(.empty-bg),&:focus:not(.empty-bg){
			@include opacity(0.6);
		}

		&.empty-bg{
			background-color:white;
			color:$black;
			border:1px solid $black;

			&:hover{
				background-color:$black;
				color:white;
			}
		}
	}

	&.add-new{
		margin-bottom:16px;
	}
}

.wysiwyg-menu{
	margin-bottom:10px;
	button,.wysiwyg-select{
		@include border-radius(0);
	}
}