.cta{
	display:block;
	padding:10px 15px;

	text-transform:uppercase;
	font-weight:700;
	@include font-size(16px);

	color:$light-red;
	@include border-radius(0);

	@include transition(all 0.2s ease);

	&:hover{
		background-color:$ultralight-gray;
		text-decoration:none;
	}
}

.btn{
	&:focus, &:active:focus, &.active:focus,&:active{
		outline:none!important;
		@include box-shadow(none);
	}

	&.submit-form{
		background-color:$black;
		color:white;
		@include border-radius(0);

		@include transition(all 0.2s ease);

		text-transform: uppercase;

		padding:10px 20px;


		&:hover,&:active,&:focus{
			@include opacity(0.6);
		}
	}
}