.enter-container{
	position:relative;
	padding:$bar-height 0 $bar-height;
	background-color:white;
}

.forms-container{
	padding:0 32px 32px;
}

/*SIGNUP*/
.signup-form, .login-form, .recover-form,.event-form, .user-form{

	&.recover-form{
		margin-top:40px;
	}

	h1,h2,h3,h4{
		font-weight:bold;
		text-transform: uppercase;
		margin:32px 0 16px;
	}


	section:not(.virtualplaces-container) h4{
		margin-bottom:40px;
	}

	section{
		margin-bottom:20px;
		.form-group:last-child{
			margin-bottom:0;
		}
	}

	label{
		display:block;
		color:$light-gray;
		margin-bottom:10px;
	}
	
	.virtualplaces input{
		margin-bottom:25px;
	}

	input,
	textarea,
	.wysiwyg-textarea,
	select:not(.wysiwyg-select),
	.bootstrap-select button{
		background:$ultralight-gray;
		color:$dark-gray;
		border:none;
		@include box-shadow(none);
		@include border-radius(0);
		padding: 10px 15px;
		height:auto;
	}

	@include placeholder-color($light-gray);

	.bootstrap-select {

		.dropdown-menu{
			background:white;

			li{
				a{
					padding:10px 10px;
				}
				&.active{
					a{
						background-color:$dark-gray;
					}
				}
			}
		}

		button{
			&.disabled{
				color:$light-gray;
				cursor: not-allowed;
			}
		}

		.bs-searchbox{
			margin-bottom:10px;

			input{
				background-color:white;
				border: 1px solid $light-gray;
			}
		}
	}

	.virt-place{
		position:relative;
		i{
			position:absolute;
			top:50%;
			@include translateY(-50%);
			left:15px;
		}

		input{
			padding-left:40px;
		}
	}
}

/*LOGIN*/