.social-section{
	text-align:center;
	width:100%;
	position:absolute;
	bottom:$bar-height+64px;
	left:50%;

	@include translateX(-50%);
}	



.social-wrapper{
	p{
		@include font-size(16px);
		margin-bottom:16px!important;
	}

	ul{
		margin:16px 0 0;
		padding:0;
		list-style:none;
		width:100%;
		text-align:center;

		li{
			display:inline-block;
			@include font-size(32px);
			
			@include transition(all 0.2s ease);

			& + li{
				margin-left:32px;
			}

			&:hover{
				@include opacity(0.6);
			}

			i{
				color:$black;
			}
		}
	}
}

.footer-container{
	.social-section{
		text-align:left;
		width:auto!important;
		position:static!important;
		@include translateX(0);
	}	

	.social-wrapper{
		ul{
			text-align:right!important;
			margin-top:10px!important;

			li{
				@include font-size(26px);
			}
		}
	}
}

.red-social{
	ul{
		li{
			i{
				color:$light-red;
			}
		}
	}
}

@media (max-width:991px){
	.social-section{
		position:static;
		@include translateX(0%);
		margin: 0 0 64px 0;
	}
}