.stats{
	text-align:center;
	margin-top:70px;

	width:100%;

	position:absolute;
	top:50%;
	left:50%;
	@include translate(-50%,-50%);

	.stats-container{
		display:inline-block;
		margin-bottom:15px;

		.item-number{
			position:relative;
			display:block;
			font-weight:700;
			@include font-size(64px);

			margin-bottom:16px;
			padding-bottom:16px;

			&:after{
				content:" ";
				width:100px;
				height:2px;
				position:absolute;
				bottom:0;
				left:50%;
				@include translateX(-50%);		
			}
		}

		.item-name{
			display:block;
			@include font-size(16px);
		}
	}

	.stats-wrapper{
		&:nth-child(1n){
			.item-number:after{
				background-color:$dark-red;
			}
		}

		&:nth-child(2n){
			.item-number:after{
				background-color:$light-red;
			}
		}

		&:nth-child(3n){
			.item-number:after{
				background-color:$dark-yellow;
			}
		}

		&:nth-child(4n){
			.item-number:after{
				background-color:$light-yellow;
			}
		}

		&:nth-child(5n){
			.item-number:after{
				background-color:$dark-green;
			}
		}

		&:nth-child(6n){
			.item-number:after{
				background-color:$light-green;
			}
		}
	}
}

@media (max-width:991px){
	.stats{
		position:static;
		@include translate(0%,0%);
	}
}