.stats{
	text-align:center;
	width:100%;

	position:absolute;
	top:50%;
	left:50%;
	@include translate(-50%,-50%);

	.stats-container{
		display:inline-block;
		margin-bottom:15px;
		color: inherit;

		&:hover{
			text-decoration: none;
		}

		.item-number{
			position:relative;
			display:block;
			font-weight:700;
			@include font-size(64px);

			margin-bottom:16px;
			padding-bottom:16px;

			&:after{
				content:" ";
				width:100px;
				height:2px;
				position:absolute;
				bottom:0;
				left:50%;
				@include translateX(-50%);		
			}
		}

		.item-name{
			display:block;
			@include font-size(16px);
		}
	}

	.stats-wrapper{
		&:nth-of-type(6n+1):not(.clearfix){
			&>.stats-container .item-number{
				&:after{
					background-color:$dark-red;
				}
			}
		}

		&:nth-of-type(6n+2){
			&>.stats-container .item-number{
				&:after{
					background-color:$light-red;
				}
			}
		}

		&:nth-of-type(6n+3){
			&>.stats-container .item-number{
				&:after{
					background-color:$dark-yellow;
				}
			}
		}

		&:nth-of-type(6n+4){
			&>.stats-container .item-number{
				&:after{
					background-color:$light-yellow;
				}
			}
		}

		&:nth-of-type(6n+5){
			&>.stats-container .item-number{
				&:after{
					background-color:$dark-green;
				}
			}
		}

		&:nth-of-type(6n+6){
			&>.stats-container .item-number{
				&:after{
					background-color:$light-green;
				}				
			}
		}
	}
}

@media (max-width:991px){
	.stats{
		position:static;
		@include translate(0%,0%);
		margin-top:70px;
		margin-bottom:70px;
	}
}