<div class="artists-page no-img-bg">
	<div class="total-artists">
		<header>Já reunímos</header>
		<p id="total-num">{{artists.length}}</p>
		<label for="total-num">Artistas lusos</label>
		<a href="admin-report" class="admin-report" ng-if="isLoggedIn && isAdmin">Ver relatório</a>
	</div>	

	<colored-stats list="artists" group-by-prop="cat.name" display-prop="cat.name" route="artists" detail-prop="cat.id"></colored-stats>

	<div class="social-section">
		<social networks="networks" text="Ajude a aumentar este números, divulgue esta iniciativa"></social>
	</div>	
</div>