<div class="artist-details image-bg">

	<div class="artist-desc-container container-fluid">
		<div class="art-desc-wrapper">
			<div class="artist-desc">
				<h1>
					{{artist.name}}
				</h1>
				<p>
					<strong>{{artist.ocupation}}</strong> • Residente em <strong>{{artist.curCountry.name}}</strong> • Descendente de <strong>{{artist.descCountry.name}}</strong>
				</p>
			</div>
		</div>
		
	</div>

	<div class="artist-bio-container container-fluid">
		<!--IMAGE-->
		<div class="image-social-row">
			<div class="artist-image" style="background-image:url({{'http://localhost/artistasluso/API/api/modules/v1/images/'+artist.image.url}});"></div>
			<div class="artist-social">
				<social networks="artist.networks"></social>
			</div>
		</div>

		<div class="clearfix"></div>

		<!--BIOS-->
		<div class="row artist-bio">
			<div class="col-xs-12 col-sm-6" ng-repeat-start="bio in artist.bios">
				{{bio.bio}}
			</div>
			<div class="clearfix visible-sm-block" ng-if="($index+1)%2==0" ng-repeat-end></div>
		</div>
	</div>

	<!--OTHERS-->
	<div class="container-fluid other-list">
		<div class="row">
			<div class="col-xs-12">
				<span class="other-title">Outros artistas</span>
			</div>
		</div>
		<artists-list list="otherArtists" max="4"></artists-list>
	</div>
	
</div>