<div class="event-details no-img-bg">

	<div class="event-container container-fluid">
		<!--BIOS-->
		<div class="row event-desc-wrapper">
			<div class="col-xs-12 col-sm-6">
				<div class="event-img">
					
				<img ng-src="{{'http://localhost/artistasluso/API/api/modules/v1/images/'+event.image.url}}" alt="{{event.title}}" class="img-responsive"/>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6">
				<section>
					<div class="event-desc">
						<h1>
							{{event.title}}
						</h1>
						<div class="date">{{event.dateEnd!=undefined ? 'De ' : ''}}<strong>{{event.dateStart | date:"d 'de' MMMM 'de' yyyy" }}</strong>{{event.dateEnd!=undefined ? ' a ' : ''}}<strong>{{event.dateEnd | date:"d 'de' MMMM 'de' yyyy" }}</strong></div>
						<div class="city">{{event.city.title}}</div>
						<div class="country">{{event.country.title}}</div>
					</div>
					<p>
						{{event.title}}
					</p>
				</section>				

				<section>
					<h4>Informações sobre como participar neste evento</h4>
					<p>
						{{event.ticketInfo}}
					</p>
				</section>	

				<section class="event-social">
					<social networks="networks" text="Partilhe este evento nas suas redes" text-class="light-text" action="share" container-class="red-social" obj="event"></social>
				</section>	

				<section class="event-facebook-comments">
					<facebook-comments text="Deixe a sua opinião" text-class="light-text"></facebook-comments>
				</section>
			</div>
		</div>
	</div>

	<!--OTHERS-->
	<div class="container-fluid other-list event-other">
		<div class="row">
			<div class="col-xs-12">
				<span class="other-title">Outros eventos</span>
			</div>
		</div>
		<events-list list="otherEvents" max="4"></events-list>
	</div>
	
</div>