<div class="project-page no-img-bg">
	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<h1>
				Artistas Lusos é uma plataforma online que procura reunir e demonstrar o trabalho dos artistas descendentes de portugueses.
			</h1>

			<section class="panel-section-content">
				<header>Artistas:</header>
				<ol>
					<li>Pessoas que praticam uma das belas-artes, especialmente das artes plásticas ou dos seus prolongamentos actuais;</li>
					<li>Pessoas que interpretem obras musicais, teatrais, cinematográficas ou coreográficas;</li>
					<li>Pessoas que, dedicando-se a uma arte, libertam-se das pressões burguesas.</li>
				</ol>
			</section>

			<section class="panel-section-content">
				<header>Lusos:</header>
				<ol>
					<li>Quem exprime a noção de lusitano ou relativo a Portugal;</li>
					<li>É descendente de Portugueses.</li>
				</ol>
			</section>
		</div>
	</div>
</div>