/*
*
* FONT SIZES
* 
*/
/*
p {
  @include font-size(14px)
}
 */
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

/*
*
* BREAKPOINTS
* 
*/
/**
.sidebar {
  @include bp-small {
    width: 100%;
    float: none;
    margin: 0;
  }
}
 */
@mixin bp-large {
  @media only screen and (max-width: 60em) {
    @content;
  }
}

@mixin bp-medium {
  @media only screen and (max-width: 40em) {
    @content;
  }
}

@mixin bp-small {
  @media only screen and (max-width: 30em) {
    @content;
  }
}

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin media-query-min($device) {
    @media screen and (min-width: $device) {
        @content;
    }
}

/*
*
* ANIMATION
* 
*/
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin effect($effect){
  -webkit-animation-name:$effect;
  animation-name:$effect;
}

@mixin animated($time){
  -webkit-animation-duration: $time;
  animation-duration: $time;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/**
 *
 *TRANSFORM
 * 
 */
@mixin translate($args...) {
  -webkit-transform: translate($args);
  -moz-transform: translate($args);
  -ms-transform: translate($args);
  -o-transform: translate($args);
  transform: translate($args);
}

@mixin translateY($arg) {
  -webkit-transform: translateY($arg);
  -moz-transform: translateY($arg);
  -ms-transform: translateY($arg);
  -o-transform: translateY($arg);
  transform: translateY($arg);
}

@mixin translateX($arg) {
  -webkit-transform: translateX($arg);
  -moz-transform: translateX($arg);
  -ms-transform: translateX($arg);
  -o-transform: translateX($arg);
  transform: translateX($arg);
}

@mixin transform-scale($x:1, $y:1){
    -webkit-transform: scale($x, $y);
    -moz-transform   : scale($x, $y);
    -o-transform     : scale($x, $y);
    -ms-transform    : scale($x, $y);
    transform        : scale($x, $y);
}

@mixin transform-skew($x:0, $y:0){
    -webkit-transform: skew($x + deg, $y + deg) ;
    -moz-transform   : skew($x + deg, $y + deg) ;
    -o-transform     : skew($x + deg, $y + deg) ;
    -ms-transform    : skew($x + deg, $y + deg) ;
    transform        : skew($x + deg, $y + deg) ;
}

@mixin transform-rotate($val){
    @if($val != null){
        -webkit-transform: rotate($val + deg) ;
        -moz-transform   : rotate($val + deg) ;
        -o-transform     : rotate($val + deg) ;
        -ms-transform    : rotate($val + deg) ;
        transform        : rotate($val + deg) ;
    }
}

/**
 *
 * KEYFRAME ANIMATION
 * 
 */
@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }  
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }  
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};      
}

/**
 *
 * BORDER
 * 
 */
@mixin border-radius($radius) {
  -webkit-border-radius: $radius!important;
  border-radius: $radius!important;
}

/**
 *
 * RETINA READY
 * 
 */
/*
div.logo {
   background: url("logo.png") no-repeat;
   @include image-2x("logo2x.png", 100px, 25px);
 }
 */
@mixin image-2x($image, $width, $height) {
  @media (min--moz-device-pixel-ratio: 1.3),
         (-o-min-device-pixel-ratio: 2.6/2),
         (-webkit-min-device-pixel-ratio: 1.3),
         (min-device-pixel-ratio: 1.3),
         (min-resolution: 1.3dppx) {
    /* on retina, use image that's scaled by 2 */
    background-image: url($image);
    background-size: $width $height;
  }
}

/**
 *
 * OPACITY
 * 
 */
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

/**
 *
 * BOX SHADOW
 * 
 */
@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}

/**
 *
 * USER SELECT
 * 
 */
@mixin user-select($arg){
  -webkit-user-select: $arg;
  -moz-user-select: $arg;
  -ms-user-select: $arg;
  user-select: $arg;
}

/**
 *
 * GENERIC LINKS
 * 
 */
@mixin generic-links(){
  a{
    color:$active-el!important;
    @include transition(all 200ms ease);

    &:hover{
      text-decoration:none!important;
      @include opacity(0.6);
    }
  }
}

/**
 *
 * CHANGE PLACEHOLDER COLOR
 * 
 */
@mixin placeholder-color($color){
  ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
      color:  $color;
      font-style:italic;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
     color:    $color;
     opacity:  1;
      font-style:italic;

  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
     color:    $color;
     opacity:  1;
      font-style:italic;

  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
     color:    $color;
      font-style:italic;
     
  }
}