/*COLORS*/
$dark-red:#d22e2e;
$light-red:#f34235;
$dark-yellow:#fe9f00;
$light-yellow:#fec006;
$dark-green:#378d3b;
$light-green:#4bae4f;
$black:#202020;
$dark-gray:#717171;
$light-gray:#b5b5b5;
$ultralight-gray:#e9e9e9;

/*HEADER*/
$bar-height:50px;

/*CARDS*/
$card-bg:white;

/*ARTISTS*/
$artist-list-color:white;
$artist-banner-height:170px;
$img-width:280px;
$img-height:190px;

/*FOOTER*/
$footer-bg:white;
$foot-logo-width:70px;
$foot-logo-height:30px;