html,body{
	height:100%;
	width:100%;
	color:white;

	font:{
		family:'Open Sans', sans-serif;
		size: 16px!important;
	} 

}

.clearAll{
	clear:both;
}

body *{
	@include transition(all 0.1s ease-in-out);
}

@media (max-width:880px){
	html,body{
		font:{
			size: 15px!important;
		}
	}
}