/*BUTTONS*/
$btn-submit-color: #43ff78;
$btn-submit-hover-color: #39e46d;
$btn-submit-Bborder-color: #39e56e;
$btn-submit-text-color: #2eaa4b;

/*FORMS*/
$input-bg-color:#e6e6e6;
$input-Bborder-color: #fff;
$input-label-color: #808080;