html,body{
	height:100%;
	width:100%;

	font:{
		family: 'Roboto', sans-serif;
		size: 16px!important;
	} 

}
/*CLEARS*/
.clearAll{
	clear:both;
}


/*ANIMATIONS*/
.main{	
	@include animated(0.5s);

	&.ng-enter{
		@include effect(fadeIn);
		position:fixed;
		top:0;
		left:0;
		overflow:auto;
	}

	&.ng-leave{
		position:fixed;
		top:0;
		left:0;
		overflow:auto;

	}
}

/*MORE SPECIFIC*/
.main{
	width:100%;
	height:100%;
}

@media (max-width:880px){
	html,body{
		font:{
			size: 15px!important;
		}
	}
}

.image-bg{
	min-width:100%;
	min-height:100%;
	background: url(../../img/background.jpg) center center no-repeat;
	background-size:cover;
}

.no-img-bg{
	min-width:100%;
	min-height:100%;
	background-color:$ultralight-gray;
}

/*HEADING*/
h1{
	@include font-size(25px);
}

h2{
	@include font-size(24px);
	font-weight:700;
}

h3{
	@include font-size(20px);
	font-weight:700;
}

h4{
	@include font-size(16px);
	font-weight:700;
}

/*LISTS ELEMENTS*/
.other-list{
	.other-title{
		color:$dark-gray;
		text-transform: uppercase;
		@include font-size(16px);
		display:block;
		margin:36px 0 0;
		font-weight:700;
	}
}

.link{
	&:hover{
		text-decoration:underline;
		@include opacity(0.6);
		cursor:pointer;
	}
}